h1 {
    text-align:center;
    background-color: rgb(0, 0, 0);
}
h2{
    text-align: center;
}
h3{
    font-style: oblique;
    background-color: blue;
    text-align: center;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: rgb(27, 27, 27);
}
.imagem1 {
    width: 200px;}

    .imagem2 {
        width: 800px;}

        .imagem2 {
            width: 500px;
}
.imagemcentralizada {
 text-align: center;
}

.unicornio {
    background-color: forestgreen

}
.brilho {
   color: aqua;
    font-style: italic
}
.lista {
        
        padding: 5%;
        margin-right: 10%;
    }

nav a{
    text-transform: uppercase;
    color: blanchedalmond;
    font-weight: 300;
    font-size: 100%;
}
